@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }
@media (prefers-color-scheme: dark) { :root { color-scheme: dark; } }

/* Smooth text */
html, body { height: 100%; }
